.table{
    margin-bottom: 130px;
}

.head{
    padding: 30px;
    font-size: 36px;
    text-transform: uppercase;
    letter-spacing: 0.03em;
    border-radius: 20px;
    background-image: linear-gradient(79deg, rgba(255, 123, 15, 1) 0%, rgba(169, 2, 240, 0.9) 100%);
}
.tableRow{
    width: 350px;
    padding: 30px;
    border-radius: 20px;
    background-color: rgba(175, 0, 255, 0.5);
    }